input{
    border-radius: 12px;
    border: none;
    text-indent: 10px;
}
.text-format{
    text-align: center;
    color: white;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form-buy-data{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1rem;
    margin: 2rem 2rem;
    padding: 0 5rem 0 5rem;
    width: 25rem;
}

.bt-submit{
    background: none;
    border: solid;
    border-color: #09c;
    border-radius: 12px;
    cursor: pointer;
    height: fit-content;
    padding: 0.5rem 0.5rem;
    color:white;
}

.bt-submit:hover {
    background-color: #09c;
}

.greetings-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 1rem 2rem;
    background-color: #09c;
    border-radius: 12px;
    color:white;
    text-align: center;
}