input{
    border-radius: 12px;
    border: none;
    text-indent: 10px;
}
.text-format{
    text-align: center;
    color: white;
}
.form-buy-data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 2rem;
    padding: 0 5rem 0 5rem;

}

.bt-submit{
    background: none;
    border: solid;
    border-color: #09c;
    border-radius: 12px;
    cursor: pointer;
    height: fit-content;
    padding: 0.5rem 0.5rem;
    color:white;
}

.bt-submit:hover {
    background-color: #09c;
}

