.bt-detail {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 12px; 
    font-size: 16px;
    font-weight: bold;
 

}

.bt-detail:hover {
    border-radius: 12px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.bt-detail:active {
    border-radius: 12px;
    background-color: #09f;
   
  }