.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-container img {
    width: 150px;
    height: 110px;
}

.nav-rout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-rout .category {
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.category:hover {
    color: #09f;
}