.item-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-count {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 12px; 
}

.item-container-count {
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    
}

.item-count-bts {
    background: none;
    border: none;
    cursor: pointer;
    height: fit-content;
    padding: 2px 4px;
}


.bt-add {
    font-size: 16px;
    font-weight: bold;
    padding: 0.5rem;  
    border-radius: 12px;   
}

.bg-gradiant{background: rgb(0, 153, 255);
background: linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(145, 211, 255, 1) 90%, rgba(255, 255, 255, 0.32816876750700286) 100%); 
}

.item-count-bts:hover {
    border-radius: 12px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.item-count-bts:active {
    border-radius: 12px;
    background-color: #09f;
   
  }