.il-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color:white;
    width: 100vh;
}

.il-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
    gap: 1rem;
}

.il-item-link{
    text-decoration: none;
}